@font-face {
  font-family: GilroyRegular;
  src: url("../fonts/gilroy-regular.ttf") format("truetype");
}
@font-face {
  font-family: GilroyBold;
  src: url("../fonts/gilroy-bold.ttf") format("truetype");
}
@font-face {
  font-family: GalienRegular;
  src: url("../fonts/Galien Regular.ttf") format("truetype");
}
@font-face {
  font-family: GalienBold;
  src: url("../fonts/Galien-Bold.ttf") format("truetype");
}